* {
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex {
  display: flex;
}
.flex-d {
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
}
.align-items {
  align-items: center;
}
.align-start {
  align-items: flex-start;
}
.justify-content {
  justify-content: center;
}
.space-around {
  justify-content: space-around;
}
.space-between {
  justify-content: space-between;
}
.textCategory {
  color: #ffb23f;
}

.Container {
  width: 1240px;
}

.containerTitle {
  height: 300px;
}
.bigTitle {
  width: 750px;
  font-weight: bold;
  font-size: 60px;
  text-align: center;
}

.bigText {
  width: 800px;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: #afadb5;
  margin-top: 20px;
}

.productCard {
  display: grid;
  column-gap: 50px;
  row-gap: 50px;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

.input {
  width: 1080px;
  height: 50px;
  font-size: 45px;
  position: absolute;
  top: 42%;
  left: 30%;
}

.input input {
  width: 200px;
  height: 50px;
  font-size: 40px;
}

.landingPage {
  position: relative;
}

.loginPage {
  width: 100vw;
  height: 100vh;
  background-color: antiquewhite;
  margin: 0 auto;
  padding: 20px;
}

.m-1 {
  margin: 20px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgb(221 221 221 / 90%);
}

.service {
  border: 1px solid #518581;
  border-radius: 4px;
  margin: 10px;
  padding: 10px;
  gap: 20px;
}

.articleBody {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  height: 250px;
}
.articleItem {
  padding: 20px;
  margin: 10px;
}

.article-text {
  font-size: 18px;
  font-weight: 500;
  line-height: 180%;
  color: #afadb5;
}

.article-sub {
  display: flex;
  align-items: center;
  gap: 20px;
}

.article-sub-title {
  font-size: 15px;
  font-weight: 700;
  line-height: 130%;
  margin-left: 5px;
}

.about-grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.about-item {
  width: 30%;
}

.about-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 130%;
  margin-left: 5px;
}

.about-name-section {
  margin: 20px 0;
}

.margin-top {
  margin: 40px 0;
}
